<footer class="footer">
  <small>
    A <%= link_to "Ruby On Rails", "http://rubyonrails.org/", target: "_blank" %> example by <a href="https://www.linkedin.com/in/robwelan/">Rob Welan</a>
    <br>
    <br>
    Based on works by:<br>
    <ul>
      <li><a href="http://www.michaelhartl.com/">Michael Hartl</a></li>
    </ul>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>